.ProductWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 65%;
  margin-left: 17.5%;
}

@media (max-width: 912px) {
  .ProductWrapper {
    /* Change the display property to flex */
    display: flex;
    /* Set the flex-direction property to column */
    flex-direction: column;
  }
}
